.container {
  width: 75%;
  height: 700px;
  border: solid 1px gray;
  margin: 0 auto;
}

#input-page {
  margin: 2.5%;
  width: 45%;
  height: 650px;
  float: left;
}

#output-page {
  margin: 2.5%;
  width: 45%;
  height: 650px;
  float: right;
}

#source {
  width: 100%;
  margin: 0;
  height: 88%;
}

#preview {
  width: 100%;
  margin: 0;
  height: 88%;
  border: solid 1px gray;
}

h2 {
  text-align: center;
}

