.container {
  width: 75%;
  margin: auto;
}
.container h1 {
  text-align: center;
}
#source {
  width: 75%;
  margin: auto;
}
#source h2 {
  text-align: center;
}
#preview {
  width: 75%;
  margin: auto;
  /*display: none;*/
}
#preview h2 {
  text-align: center;
}
textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button{
    height:20px;
    width:150px;
    margin: -20px -50px;
    margin-top: 20px;
    position:relative;
    top:50%;
    left:50%;
}
