<h2>Markdown Emulator Supreme</h2>
<form id = "markdown-form" action = "/" method = "GET">
  <textarea id = "formatted-input" type = "text" name = "formatted-input" placeholder = "Enter word with .md syntax" ></textarea>
  <input id = "md-button" type = "button" value = "Submit">
</form>

<div id = "markdown-output">
Output: <span id = "output-space"></span>
</div>

